/* Importing webfonts */
@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);

/* General Styles */
/* ------------------------------------------------------------------------------------------*/

/* Resetting */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {

    margin: 0; 
    padding: 0;
    margin-left: 2%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 96%;
    background-color: #f0f0f0;
    overflow-y: scroll;

}

.main {

    flex: 2;
    background-color: #e0e0e0;
    overflow-y: auto;
    padding: 50px 15px;

}

/* Header Styling*/

.header {

    height: 150px;
    background-color: #282728;
    color: white;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    list-style: none;
    border-bottom: 1px solid rgb(221,221,221);
    transition: border-bottom-color 1s ease;

}

.headerbox {

    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    align-items: flex-end;
    
}

.box-1{
    margin-left: 20px;
    width: 150px;
}

.box-2{
    margin-left: 10px;
    width: 300px;
    margin-right: 1550px;
    align-self: center;
    justify-content: center;
}

.box-3{

    margin-right: 10px;
    width: 120px;
}

.box-4{

    margin-right: 20px;
    width: 120px;
}

.headerbox img {

    max-height: 100px;
    width: auto;
    vertical-align: center;
    margin-left: 10px;
    display: inline-block;
}

.logo a img {
    transition: transform 1.2s ease; /* Animation duration and easing */
}

.logo:hover a img {
    transform: rotate(180deg); /* Rotate by 360 degrees on hover */
}

.title {
    font-size: 32px;
    font-family: 'Josefin Sans', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    /*max-width: 150px;*/
    max-height: 100px;

}

.image {
    display: block;
    height: auto;
    transition: transform 0.3s ease;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
}

.image-container:hover .image {
    transform: scale(0.8);
}

.image-container:hover .text-container {
    font-size: 20px;
    transform: translateY(0);
    /*color: #fada5f;*/
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #282728;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.cardbox{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    /*margin-top: 50px;*/
}

.card{
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    margin-left: 20px;
    margin-right: 20px;

}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    color: #fff;
}

/*Posts*/

/* General Styling */
article {
    background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Georgia, serif; /* Serif font for academic style */
    text-align: justify; /* Justify text for a formal look */
}


h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Text and Images */
p {
    line-height: 1.5;
    color: #333;
}

.im {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 10px auto; /* Add some margin and center horizontally */
}

.im img {
    border: 1px solid #ddd;
    padding: 5px;
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.2s ease-in-out;
}

.im img:hover {
    transform: scale(1.2);
}
  
/* Code Blocks */
pre {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}

/* "Go to Top" Link */
.top-link {
    display: block;
    text-align: right;
    margin-top: 20px;
    color: #aaa;
    text-decoration: none;
}

.top-link:hover {
    color: #777;
    text-decoration: underline;
}

/* Styles for the button */
.return-to-top-btn {
    display: block;
    width: 100%;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
}

/* Hover effect */
.return-to-top-btn:hover {
    background-color: #555;
}


/* Footer Styling*/

footer {
    background-color: #282728;
    color: white;
    padding: 5px 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.made {
    font-size: 22px;
    text-decoration: none;
    color: white;
    margin: 0;
}


/* Flex Styling*/

@media only screen and (max-width: 600px) {

    .header {
        flex-direction: column; /* Stack boxes vertically on mobile */
        height: auto;
        justify-content: flex-start;
      }
    
    .headerbox {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;  /* Horizontally center each box within header */
        margin-right: auto; /* on mobile */
        width: auto;
    }

    .card {

        margin-top: 10px;
        margin-bottom: 10px;
    }

    .im img {
        max-width: 90%; /* Adjust max-width for smaller screens */
    }

}