html{
    font-size: 20px;
    font-family: Lato, sans-serif;
}

body{
    background-color: white;
    color:black;
}

h1{
    font-size: 60px;
    color:#e1003d;
}

hr:nth-of-type(1){

    border: 10px solid #e1003d;

}

/* Style for the navigation bar */
.navbar {
    background-color: #282728;
    display: flex;
    align-items: center;
    height: 80px;
}

/* Style for the logo */
.logo {
    width: 20%; /* Adjust this percentage as needed */
    margin-right: 50px;
    margin-left: 10px;
}

/* Style for the navigation links */
.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

/* Style for the heading to fill the available width */
.heading {
    flex: 1;
}

.image {
    width: 10px; /* Set the desired width */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    border-radius: 15px;
}

body{

    margin: 0;
    padding: 0;
}